body{
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body{
  margin: 0px;
  padding: 0px;
}
#information {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
}
canvas {
  border-radius: 10px;
  box-shadow: 0px 2px 20px #00000080;
}
div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
video {
  flex: 0;
}